<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>시간표</title>
</head>
<body>
    <div id="scheduleTable">

    </div>
    <div class="edit">
        <details>
            <summary>수정하기</summary>
            <form action="/schedule", method="POST">
                <p>
                    월
                    <input type="text" name="monday1" placeholder="1교시" size="2" maxlength="5">
                    <input type="text" name="monday2" placeholder="2교시" size="2" maxlength="5">
                    <input type="text" name="monday3" placeholder="3교시" size="2" maxlength="5">
                    <input type="text" name="monday4" placeholder="4교시" size="2" maxlength="5">
                    <input type="text" name="monday5" placeholder="5교시" size="2" maxlength="5">
                    <input type="text" name="monday6" placeholder="6교시" size="2" maxlength="5">
                    <input type="text" name="monday7" placeholder="7교시" size="2" maxlength="5">
                </p>
                <p>
                    화
                    <input type="text" name="tuesday1" placeholder="1교시" size="2" maxlength="5">
                    <input type="text" name="tuesday2" placeholder="2교시" size="2" maxlength="5">
                    <input type="text" name="tuesday3" placeholder="3교시" size="2" maxlength="5">
                    <input type="text" name="tuesday4" placeholder="4교시" size="2" maxlength="5">
                    <input type="text" name="tuesday5" placeholder="5교시" size="2" maxlength="5">
                    <input type="text" name="tuesday6" placeholder="6교시" size="2" maxlength="5">
                    <input type="text" name="tuesday7" placeholder="7교시" size="2" maxlength="5">
                </p>
                <p>
                    수
                    <input type="text" name="wednesday1" placeholder="1교시" size="2" maxlength="5">
                    <input type="text" name="wednesday2" placeholder="2교시" size="2" maxlength="5">
                    <input type="text" name="wednesday3" placeholder="3교시" size="2" maxlength="5">
                    <input type="text" name="wednesday4" placeholder="4교시" size="2" maxlength="5">
                    <input type="text" name="wednesday5" placeholder="5교시" size="2" maxlength="5">
                    <input type="text" name="wednesday6" placeholder="6교시" size="2" maxlength="5">
                    <input type="text" name="wednesday7" placeholder="7교시" size="2" maxlength="5">
                </p>
                <p>
                    목
                    <input type="text" name="thursday1" placeholder="1교시" size="2" maxlength="5">
                    <input type="text" name="thursday2" placeholder="2교시" size="2" maxlength="5">
                    <input type="text" name="thursday3" placeholder="3교시" size="2" maxlength="5">
                    <input type="text" name="thursday4" placeholder="4교시" size="2" maxlength="5">
                    <input type="text" name="thursday5" placeholder="5교시" size="2" maxlength="5">
                    <input type="text" name="thursday6" placeholder="6교시" size="2" maxlength="5">
                    <input type="text" name="thursday7" placeholder="7교시" size="2" maxlength="5">
                </p>
                <p>
                    금
                    <input type="text" name="friday1" placeholder="1교시" size="2" maxlength="5">
                    <input type="text" name="friday2" placeholder="2교시" size="2" maxlength="5">
                    <input type="text" name="friday3" placeholder="3교시" size="2" maxlength="5">
                    <input type="text" name="friday4" placeholder="4교시" size="2" maxlength="5">
                    <input type="text" name="friday5" placeholder="5교시" size="2" maxlength="5">
                    <input type="text" name="friday6" placeholder="6교시" size="2" maxlength="5">
                    <input type="text" name="friday7" placeholder="7교시" size="2" maxlength="5">
                </p>
                <p>비밀번호: <input type="text" name="password"> </p>
                <input type="submit" value="수정하기">
            </form>
        </details>
    </div>
</body>
</html>