<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>시간표</title>
    <style>
        table, td, th{
            border: 1px solid black;
            text-align: center;
        }

        #{{today}} {
            background-color: yellow;
            font-size: 30px;
            font-weight:bold;
        }
    </style>
</head>
<body>
    <div id="table">
        <table>
            <tr>
                <th>시간표</th>
                {% for i in range(1, 8) %}
                <th>{{i}}교시</th>
                {% endfor %}
            </tr>
            <tr id="monday">
                <th>월</th>
                {% for i in range(1, 8) %}
                <td>{{schedule["monday"][i|string]}}</td>
                {% endfor %}
            </tr>
            <tr id="tuesday">
                <th>화</th>
                {% for i in range(1, 8) %}
                <td>{{schedule["tuesday"][i|string]}}</td>
                {% endfor %}
            </tr>
            <tr id="wednesday">
                <th>수</th>
                {% for i in range(1, 8) %}
                <td>{{schedule["wednesday"][i|string]}}</td>
                {% endfor %}
            </tr>
            <tr id="thursday">
                <th>목</th>
                {% for i in range(1, 8) %}
                <td>{{schedule["thursday"][i|string]}}</td>
                {% endfor %}
            </tr>
            <tr id="friday">
                <th>금</th>
                {% for i in range(1, 8) %}
                <td>{{schedule["friday"][i|string]}}</td>
                {% endfor %}
            </tr>
        </table>
    </div>
    <div class="edit">
        <details>
            <summary>수정하기</summary>
            <form action="/schedule", method="POST">
                <p>
                    월
                    {% for i in range(1, 8) %}
                    <input type="text" name="monday{{i}}" placeholder="{{i}}교시" value="{{schedule['monday'][i|string]}}" size="4" maxlength="5">
                    {% endfor %}
                </p>
                <p>
                    화
                    {% for i in range(1, 8) %}
                    <input type="text" name="tuesday{{i}}" placeholder="{{i}}교시" value="{{schedule['tuesday'][i|string]}}" size="4" maxlength="5">
                    {% endfor %}
                </p>
                <p>
                    수
                    {% for i in range(1, 8) %}
                    <input type="text" name="wednesday{{i}}" placeholder="{{i}}교시" value="{{schedule['wednesday'][i|string]}}" size="4" maxlength="5">
                    {% endfor %}
                </p>
                <p>
                    목
                    {% for i in range(1, 8) %}
                    <input type="text" name="thursday{{i}}" placeholder="{{i}}교시" value="{{schedule['thursday'][i|string]}}" size="4" maxlength="5">
                    {% endfor %}
                </p>
                <p>
                    금
                    {% for i in range(1, 8) %}
                    <input type="text" name="friday{{i}}" placeholder="{{i}}교시" value="{{schedule['friday'][i|string]}}" size="4" maxlength="5">
                    {% endfor %}
                </p>
                <p>비밀번호: <input type="text" name="password"> </p>
                <input type="submit" value="수정하기">
            </form>
        </details>
    </div>
</body>
</html>